<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lead.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @lead.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @lead.company_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @lead.job_title %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lead.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @lead.website %>
</p>

<p>
  <strong>On zoho:</strong>
  <%= @lead.on_zoho %>
</p>

<p>
  <strong>Company:</strong>
  <%= @lead.company.name %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
