<div class="col-xs-8">
  <h2>Meals</h2>
  <a {{action 'openModal'}}>Add Meal</a>
  <hr>
  <form {{action "filter" on="submit"}} class="form" role="form">
    <div class="form-group">
      <div class="col-xs-4">
        <label for="fromDay">From (day)</label>
        {{bs-datetimepicker date=fromDay format='YYYY-MM-DD'}}
        <label for="toDay">To (day)</label>
        {{bs-datetimepicker date=toDay format='YYYY-MM-DD'}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-4">
        <label for="fromHour">From (hour)</label>
        {{input value=fromHour placeholder="12:33" class="form-control"}}
        <label for="toHour">To (hour)</label>
        {{input value=toHour placeholder="22:46" class="form-control"}}
      </div>
    </div>
  </form>
  {{#small-modal enabled=showModal title="Add meal"}}
    <div class="row">
      {{meal-form meal=model.newMeal users=users show=admin buttonText="Add" triggerSave=(action "save") errorMessage=errorMessage }}
    </div>
  {{/small-modal}}
  <table id="meals_table" class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Note</th>
        <th>Calories</th>
        <th>Day</th>
        <th>Time</th>
        <th>Total</th>
        <th>Expected</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      {{#each model.meals as |meal|}}
        <tr class="{{if (or meal.expected_calories (eq meal.expected_calories 0)) (if (lte meal.total_calories meal.expected_calories) 'success' 'danger')}}">
          <td>{{meal.user}}</td>
          <td>{{if meal.note meal.note '-'}}</td>
          <td>{{meal.calories}}</td>
          <td>{{meal.dayString}}</td>
          <td>{{meal.time}}</td>
          <td>{{meal.total_calories}}</td>
          <td>{{meal.expected_calories}}</td>
          <td><a href="/meals/edit/{{meal.id}}" class="glyphicon glyphicon-pencil"></a></td>
          <td><a {{action 'deleteAfterConfirm' meal}} class="glyphicon glyphicon-trash"></a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>